<div class="header">
  <div class="navbar listr-grey-bg navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand white" href="#">listr</a>
        </div>
        <div class="navbar-collapse collapse" ng-controller="AuthCtrl" ng-cloak>
          <ul class="nav navbar-nav navbar-right">
           <li class="active"><a href="#">Home</a></li>
         
            <li ng-show="notsigned()"><a ui-sref='login' href="#about">Sign In</a></li>
            <li ng-show="notsigned()"><a ui-sref='register' href="">Sign Up</a></li>
            <li ng-show="signedIn()"><a ui-sref='buynow' href="">Buy Now</a></li>
        <li ng-show="signedIn()">
              <a href="#" ui-sref="cart">Cart</a>
            </li>
        <li class="dropdown" ng-show="signedIn()">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ currentUser.username }} <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#/users/{{ currentUser.username }}">Profile</a></li>
            <li class="divider"></li>
             <li>
              <a href="#" ng-click="logout()">Logout</a>
            </li>
          </ul>
        </li>

            </li>           
                      
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
</div>