<section class="section listr-blue-bg">
<h1 class="text-center"> SIGNUP </h1>


Form Data: {{ infos }} <br>
Fulfill Data: {{ complete }} <br>
Form: {{ form }}


<form class="cbp-mc-form" ng-submit="submitForm()">
    <div class="cbp-mc-column">
        <label for="first_name">First Name</label>
        <input ng-model="form.first_name" type="text" id="first_name" name="first_name" placeholder="Jonathan">
        <label for="last_name">Last Name</label>
        <input ng-model="form.last_name" type="text" id="last_name" name="last_name" placeholder="Doe">
        <label for="email">Email Address</label>
        <input ng-model="form.email" type="text" id="email" name="email" placeholder="jon@doe.com">
        <label for="country">City</label>
        <select ng-model="form.city" id="country" name="country">
            <option>Choose a city</option>
            <option>San Diego</option>
        </select>
    </div>
    <div class="cbp-mc-column">
        <label for="phone">Phone Number</label>
        <input ng-model="form.phone" type="text" id="phone" name="phone" placeholder="+351 999 999">
        <label for="birth_date">Birth Date</label>
        <input ng-model="form.birthdate" type="text" id="birth_date" name="birth_date" placeholder="Must be 21+">
        <label for="gagdet">Home Address</label>
        <input tng-model="form.home_address" type="text" id="gagdet" name="gagdet" placeholder="1 Infinte Loop">
    </div>
    <div class="cbp-mc-column">
        <label>Male or Female</label>
        <select ng-model="form.gender" id="talent" name="talent">
            <option>Male</option>
            <option>Female</option>
        </select>
    <label for="drink">Favorite Venue</label>
        <textarea ng-model="form.venue" id="comments" name="comments"></textarea> 
    </div>
    <div class="cbp-mc-submit-wrap"><input class="cbp-mc-submit" type="submit" value="Send your data" /></div>
</form>			

</section>